.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
vue.config.js
.postcssrc.js

#　firebase関連
firebase.json
.firebaserc
.firebase

#バージョン関連
package.json
yarn.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln